:root {
    --padrao: rgba(92, 184, 150, 0.957);
    --cianoClaro: rgba(96, 225, 178, 0.957);
    --azulEscuro: #166391;
}

body, html {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.menuAberto, html.menuAberto {
    overflow: hidden;
}

.logo {
    height:60px;
}

a {
    text-decoration: none;
    color: black;
}

.navContent:hover *{
    color: rgba(92, 184, 150, 0.957);
}

#entrarLink {
    margin-left: 5px;
}

.cadastrarLink a {
    color:white;

}

.cadastrarLink {
    background-color: rgba(92, 184, 150, 0.957);
    padding: 5px 15px;
    border-radius: 25px;
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: center center;
    cursor: pointer;
}

.cadastrarLink:hover  {
    background-color: rgba(96, 225, 178, 0.957);
    transform: scale(1.1); 
}

#labelMenu * {
    transition: transform 0.3s ease;
    transform-origin: center center;
}

#labelMenu .menuIcon {
  transform: scale(1);
  opacity: 1;
   
}

#labelMenu .closeIcon {
  transform: scale(0);
  opacity: 0;
}

#menu:checked ~ #labelMenu .menuIcon {
  transform: scale(0);
  opacity: 0;
  
}

#menu:checked ~ #labelMenu .closeIcon {
  transform: scale(1);
  opacity: 1;
   
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position:relative;
    box-shadow: 0px 2px 5px #8e8d8d ;
}

.navContent-container {
    display:flex;
    align-items: center;
    gap: 15px;
    
}

.navContent {
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navContent ::after {
  content: '';
  position: absolute;
  left: 50%;              
  bottom: -5%;
  width: 0%;              
  height: 0.5px;            
  background-color: rgba(96, 225, 178, 0.957);
  transform: translateX(-50%); 
  transition: width 0.3s ease; 
}

.navContent :hover::after {
  width: 100%;            
}

.slogan {
   
    min-height: 70vh;  
    height: auto;
    background-image: url("../images/ChatGPT\ Image\ 2\ de\ set.\ de\ 2025\,\ 21_34_00.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px #8e8d8d ;
    padding: 30px 20px 30px 20px ;
    box-sizing: border-box;
}

.slogan-container {
    max-width:710px;
    text-align: justify;
    color:  white;
    display: flex;
    flex-wrap: wrap;
    gap:13px;
}

.slogan-container * {
    margin:0;
    padding:0;
}

h1 span {
    color:  var(--cianoClaro);
}

.sloganCards {
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.sloganCard {
    padding: 50px 15px;
    width: 190px;
    background-color: white;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    color:black;
    text-align: left;
    transition: transform 0.3s ease; 
    cursor: pointer;
    border: #8e8d8d 1px solid;
}

.sloganCard i {
    color: var(--azulEscuro);
    font-size: larger;
}

.sloganCard:hover {
    transform: translateY(-10px);
}

.h1Container {
    margin: 10px 0;
}

h1 {
    font-size: 40px;
}

.shadowDiv {
    height: 240px;
    width: 570px;
}

.cardTitle {
    font-weight: bold;

}

.cardDescription {
    font-size: 18px;
}

#labelMenu {
    display:none;
    cursor: pointer;
}

.menuContainer {
    height:100%;
    background-color: white;
    width:100%;
    position:absolute;
    top:100%;
    right:-200%;
    height:100vh;
    z-index: 100;
    transition: right 0.5s ease;
    display:flex;
    flex-direction: column;
    padding: 10px 20px 0 20px;
    box-sizing: border-box;
}

#menu {
    display:none;
}

#menu:checked ~ .menuContainer {
    right:0%;
}

#menu:checked body {
    overflow: hidden;
}

#menu:checked ~  span {
    display: none;
}

.menuContent {
    border-bottom: 1px solid black;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.menuContent a { 
    color: black;
    display: block;
}

.menuContent:hover a  { 
    color: rgba(96, 225, 178, 0.957);
}

.sloganCardsContainer {
    .sloganCardsContainer {
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center; 
}
}

.descriptionContainer {
    margin-bottom: 10px;
}


@media (max-width: 980px) {

    #labelMenu {
        display:inline-block;
    }

    .navContent-container .navContent {
        display:none;
    }
    .cadastrarLink {
        display:none;
    }


    .logo {
        margin: 0 auto; 
    }
    .labelMenu {
        flex: 1;
        align-self: flex-end;
    }

    .shadowDiv {
        display:none;
    }

    .sloganCard {
        width: 100%;
    }

    .descriptionContainer {
        text-align: left;
    }

    .descriptionContainer span {
        font-size: 25px;
    }
    h1 {
        font-size: 30px;
    }

    h1 span {
        font-size: 30px !important;
    }

    .diferencialImg {
      display: none;
    }

    .diferencialBtn {
        display:inline;
    }

}

@media (max-width: 725px) {
  
    footer{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .descriptionContainer span {
        display: none;
    }

    h1 span {
        display:inline-block !important;
    }
}

footer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    padding-top:40px;
    box-sizing: border-box;
   border-top:1px solid #8e8d8d;
   background-color: white;
}

.footerLinks {
    display:flex;
    flex-direction: column;
    margin-top: 13px;
    align-items: center;
}

.footerLinks span {
    color: var(--padrao);
    margin-bottom: 5px;
}

.footerLinks a {
    font-size: 21px;
}

.footerLinks ul {
    margin:0;
    padding:0;
    list-style:none ;
    text-align: center;
}

.copyRight {
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
}

.copyRight {
    font-size:19px;
}

.especialidadeCard {
    display:flex;
    flex-direction: column;
    gap:20px;
    border:solid 1px gainsboro;
    border-radius: 15px;
    padding: 50px 40px 30px 20px;
    transition: transform 0.3s ease; 
}

.especialidadeCard:hover {
    transform: translateY(-10px);
}

.especialidadeCard i {
    color: var(--azulEscuro);
    font-size: larger;
}

.especialidadeCardContainer {
    display:grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-content: center;
    align-items: center;
    padding:0 20px;
    box-sizing: border-box;
}

.especialidadesTitulo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-align: center;
    margin: 50px 0 30px 0;
    padding:0 20px;
    box-sizing: border-box;
}

.especialidadesTitulo h2 {
    margin:0 0 20px 0;
    padding:0;
    font-size: 40px;
}

.especialidadesTitulo p {
    padding:0;
    margin:0;
    font-size: 20px;
}

.diferencialImg {
    background-color: var(--azulEscuro);
    height:600px;
    max-width:700px;
    border-radius: 25px;
    border: 1px solid gainsboro;
}

.diferencial {
    height:600px;
    width:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 30px 0 30px;
    justify-content: center;
    box-sizing: border-box;
}

.diferencialBtn {
    align-self: flex-start;
    padding: 20px 40px 20px 40px;
    background-color: var(--azulEscuro);
}

.diferencialBtn a {
    font-size: 25px;
}

.diferencialBg {
    background: linear-gradient(135deg, #000000, #1c1c1c, #004268);
    color:white;
    padding: 20px 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}


.diferencialContainer {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 0 50px 0;
    box-sizing: border-box;
}
 
 .diferencial {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.diferencialContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 80px 20px 50px 20px;
    box-sizing: border-box;
}

.acessibilityBtn {
    height: 50px;
    width:50px;
    background-color: #000000;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:30px;
    left:30px;
    z-index: 10;
    
}

.acessibilityBtn i {
    color:black;
    font-size: 52px;
    cursor: pointer;
    
}

.acessibility {
    height:50px;
    width: 50px;
    border-radius: 25px;
    position:absolute;
    top:0;
    left:0;
    transition: left 0.5s ease;
    z-index: -2;
}

#acesso:checked ~ .acessibility {
    top:15px;
    left:60px;
    
}

.aumentarFonte {
    height:50px;
    width: 50px;
    border-radius: 25px;
    position:absolute;
    bottom:0;
    transition: bottom 0.5s ease;
    z-index: -2;
}

#acesso{
    display:none;
}

#acesso:checked ~ .aumentarFonte{
    bottom:60px;
}

.diminuirFonte {
    height:50px;
    width: 50px;
    border-radius: 25px;
    position:absolute;
    bottom:0;
    left:0;
    transition: bottom  0.5s ease;
    z-index: -2;
}

#acesso:checked ~ .diminuirFonte{
    bottom:45px;
    left:60px;
    
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    cursor: pointer;
    font-weight: bold;
}

.acessibility i {
    font-size: 35px;
    color:white;


}

.fundo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position:absolute;
    top:0;
    background-color: white;
    z-index: -1;
}

body.dark {
    background-color: #000000;
    color:white;
}

body.dark footer {
    background-color: #000000;
    color:white;
}

body.dark footer .footerLinks ul li a{
    background-color: #000000;
    color:white;
}

body.dark .sloganCard {
    background-color: #000000;
    color: white;
    border:#8e8d8d 1px solid;
}

body.dark nav a {
    color:white;
}

body.dark nav i {
    color:white;
}

body.dark .menuContainer {
    background-color: #000000;
}

body.dark .menuContent{
    color:white;
    border-bottom: whitesmoke 1px solid;
}

body.dark .center {
    color:black;
    background-color: whitesmoke;
}

body.dark .center {
    color:black;
    background-color: whitesmoke;
}

body.dark .acessibilityBtn {
    color:black;
    background-color: whitesmoke;
}

body.dark .acessibilityBtn i {
    color:whitesmoke;
}

body.dark .fundo {
    background-color:#000000;
}

body.dark .acessibility i{
    color:#000000;
}

body.dark .sloganCard i {
    color: var(--cianoClaro)
}

body.dark .especialidadeCard i{
    color: var(--cianoClaro)

}

.diferencialBg{
    position: relative;
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.diferencialBg::after {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding:6px;
    background-image: conic-gradient(from var(--angle), transparent 50%, var(--azulEscuro));
    border-radius: 25px;
    animation: 3s spin linear infinite;
}

@property --end{
    syntax: '<angle>';
    initial-value: 360deg;
    inherits: false;
}

.diferencialBg::before {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding:6px;
    background-image: conic-gradient(from var(--end), transparent 50%, var(--cianoClaro));
    border-radius: 25px;
    animation: 3s spinEnd linear infinite;
    animation-delay: -1.5s;
}

@keyframes spinEnd {
    from {
        --end: 0deg;
    }to {
        --end: 360deg;
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }to {
        --angle: 360deg;
    }
    
}